PORT=5000
REDIS_URL=redis://localhost:6380
CUSTOMER_DB_URL=postgresql://postgres:postgres@localhost:5433/streetverse_customer_db
MERCHANT_DB_URL=postgresql://postgres:postgres@localhost:5434/streetverse_merchant_db
JWT_SECRET=streetverse-secure-jwt-capstone-token-secret-2026

# Google Gmail SMTP Settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=sanchit.tangri1302@gmail.com
SMTP_PASS=YOUR_16_CHAR_GMAIL_APP_PASSWORD_HERE
SMTP_FROM="StreetVerse" <sanchit.tangri1302@gmail.com>
